html {
	background: url(../img/Z4Logo.png) no-repeat center top fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
    padding-top: 60px;
    background-color: transparent;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    /*margin: 0 auto -60px;*/
}

/* Set the fixed height of the footer here */
#push {
    min-height: 350px;
}

/*#footer {*/
    /*height: 60px;*/
/*}*/
/*#footer {*/
    /*background-color: #f5f5f5;*/
/*}*/

/*.footerImage {*/
    /*height: 50px;*/
/*}*/

#chatTextArea {
    overflow: auto;
}
